@media (max-width: 1024px) {
  .marketing-boxes {
    flex-wrap: wrap;
  }
  .tesla-client {
    flex-wrap: wrap;
  }
  .client-image {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 991px) {
  .pixelgrade-text {
    font-size: 14px;
  }
}

@media (max-width: 786px) {
  .center-btn ul {
    display: none;
  }
  .boxes {
    flex-direction: column;
  }
  .box {
    width: 80%;
  }
  .side-text1 {
    padding: 0px;
  }

  .tesla,
  .pixelgrade,
  .lessons,
  .pana,
  .footer {
    flex-wrap: wrap;
  }

  .helping {
    flex-wrap: wrap;
    gap: 20px;
  }
  .pana-text {
    padding: 0 5px;
  }
}
@media(max-width:827px){
    .send-icon{
        right: 277px;
    bottom: 55px;
    }
}
@media (max-width: 540px) {
  .textof-lessons {
    padding: 0 10px;
  }
  .pana-text {
    padding: 0 10px;
  }
  .marketing-text {
    width: 70%;
  }
}
